body{
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: #f6f6f6;
	font-family: PingFangSC-Regular,Helvetica,Arial,sans-serif;
}
#content{
    width: 10rem;
    height: 4.8rem;
    margin: 0 auto;
    margin-top: -0.8rem;
}
#image{
	display: flex;
    justify-content: center;
    align-items: center;
}
#image img{
	width: 2.827rem;
	height: 2.613rem;
	display: block;
}
#tips{
	width: 10rem;
	height: 1.6rem;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.6rem;
	text-align: center;
	color: #666666;
}
[data-dpr="2"] #tips{
	font-size: 36px;
}
[data-dpr="3"] #tips{
	font-size: 54px;
}