* {
	margin:0;
	padding:0;
}
html,body {
	min-width: 1024px;
	margin:0 auto;
	font-family: 'Microsoft YaHei','sans-serif';
}
body {
	background-repeat: repeat-y;
	background-position: top center;
	background-image: url('../images/pc/body.jpg');
}
.wrap {
	width: 1024px;
	margin: 0 auto;
}
.fl {float:left;}
.fr {float:right;}
.clearfix {
	*zoom:1;
}
.clearfix:after {
	display: block;
	content:'';
	clear:both;
	height:0;
}

.header {
	height: 944px;
	line-height: 944px;
	min-width: 1024px;
	margin:0 auto;
	overflow: hidden;
	text-align: center;
	background-repeat: no-repeat;
	background-position: top center;
	background-image: url(../images/pc/bg.jpg);
}

.header  h1 {
	text-align: center;
	font-size:99px;
	font-weight: bold;
	color:#ad008a ;
}

.header h1>span {
	color:#fff;
	background-color: #ad008a

}

.msg-box {
	padding:6px;
	border:2px solid #ccc;
	width:961px;
	margin:auto;
}
.mb-img {
	width:178px;
	height:178px;
	margin-right:13px;
	overflow:hidden;
}
.mb-img>img,
.mb-cq>img {
	display: block;
	width: 100%;
	height:100%;
}
.mb-cq {
	width:198px;
	height:198px;
	overflow:hidden;
}

.mb-info h3 {
	display: block;
	padding-top:32px;
	height:40px;
	line-height: 40px;
	font-size:35px;
	color:#ad008a;
}
.mb-info p {
	margin-top:9px;
	font-size:25px;
}
.mb-wx {
	position:relative;
}
.mb-wx:after {
	content:'';
	display: block;
	height:41px;
	width:96px;
	position:absolute;
	top:-46px;
	right:0;
	background-repeat: repeat-x;
	background-image:url('../images/pc/icon.jpg');
}

.mb-wx b {
	color:#ad008a;
	font-weight: bold;
}

.mb-text span {
	color:#e60012;
	margin-left:20px;
	padding:2px 3px;
	background-color: #fef35b;
	font-weight: bold;
}

.tip-box {
	margin-top:36px;
}

.tb-title {
	text-align: center;
}
.tb-title h3 {
	position: relative;
	display:inline-block;
	*display: inline;
	*zoom:1;
	font-size:41px;
	height: 73px;
	line-height: 73px;
	margin-bottom:12px;
}
.tb-title h3:before {
	display: block;
	content:'';
	position:absolute;
	left:-52px;
	top:22px;
	width:31px;
	height:31px;
	overflow: hidden;
	background-color: #ad008a;
	border-radius: 100%;
}

.tip-box p {
	font-size:25px;
	text-indent: 2em;
	line-height: 36px;
}

.dp-box {
	border:2px solid #ccc;
	width:883px;
	padding:12px 45px;
	margin:auto;
}
.dp-box {
	font-size:21px;
}
.dp-box h3 {
	color:#e60012;
	height:36px;
	line-height: 36px;
	text-align: center;
}
.dp-box p {
	line-height: 41px;
}
.dp-box p>b {
	font-weight: normal;
	color:#e60012;
}

.al-box {

}

.al-box h3 {
	font-size:42px;
	display: block;
	height:95px;
	line-height: 95px;
	text-align: left;
}

.al-desct {
	margin-top:40px;
	font-size:21px;
	line-height: 41px;
}

.pa-c {
	text-align: center;
}

.pa-l {
	text-align: left;
}
.pa-r {
	text-align: right
}
.pi-2{
	text-indent: 2em;
}
.pi-r{
	text-indent: 8em;
}

.mt68 {
	margin-top:68px;
}
.mt30{margin-top:30px;}
.mt35 {margin-top:35px;}

.mt45 {margin-top:45px;}

.s2 {
	margin-top:63px;
}

.ask {
	margin-top:60px;
	padding:0 35px;
	font-size:25px;
	line-height: 48px;
}
.ask h3 {
	display: inline;
	padding:5px 0;
	border-bottom:2px solid #000;
}
.ask p {
	text-indent: 2em;
	font-weight: bold
}

.last-msg {
	width:961px;
	border:2px solid #ad008a;
	padding:5px;
	margin:45px auto 0;
}

.last-msg .msg-box {
	border-color:#d478c1;
	width:945px;
}
.last-msg .msg-box h3 {
	width:527px;
	font-size:28px;
	line-height: 30px;
	height:60px;
	padding-top:10px;
	padding-bottom:15px;
}
.last-msg .mb-wx:after {
	width:64px;
}

.form {
	padding-bottom:50px;
}
.form h3 {
	padding:40px 0;
	font-size:32px;
	text-align: center
}

.input-control {
	margin:0 auto 16px;
	padding:5px 0;
	width:486px;
	height:40px;
	border:1px solid #ccc;
	background-color:#f8f8f8;
	border-radius: 5px;
}

.input-control>label ,.input-control>input {
	display: block;
	height:40px;
}

.input-control>label {
	color:#ad008a;
	text-align: center;
	line-height: 40px;
	border-right: 1px solid #ccc;
	width:75px;
}

.input-control>input {
	border:none;
	outline: 0;
	width:400px;
	padding:0 5px;
	background-color: #f7f7f7;
}
button {
	display: block;
	width:191px;
	height:46px;
	color:#fff;
	border:none;
	outline: 0;
	background-color:#8d0271;
	font-size:26px;
	font-weight: bold;
	margin:0 auto;
	border-radius: 5px;
    cursor: pointer;
}

.copyright{
    text-align: center;
    color: #999999;
    margin: 20px 0 100px;
}
